body {
	background-image: url("../images/bg.png");
	background-repeat: repeat;
} 

h1 {
	font-family: Verdana;
	color: red;
	text-align: center;
}

a {
	font-family: sans-serif;
}

#div img {
	position: relative; 
	float: left;
}

div {
	width: 100%;
	height: 100%;
}