body {
	background-image: url(bg.png);
	background-repeat: repeat;
} 

h1 {
	font-family: Verdana;
	color: red;
	text-align: center;
}

p {
	color: blue;
	font-family: sans-serif;
	text-align: center;
}

a {
	font-family: sans-serif;
}